<!--NAVBAR-->

 <nav class="navbar navbar-light col align-items-end" style="background-color: #00C4C2;">
     <blockquote class="blockquote">
         <p class="mb-0"><em>“You have not lived today until you have done something for someone who can never repay you.”</em></p>
         <footer class="blockquote-footer text-white">John Bunyan</footer>
     </blockquote>
     <a class="btn btn-outline-dark mb-3 " style="background-color: DarkSalmon;" href="/" role="button">Log Out</a>
 </nav>

 <!--MAIN CONTENT-->
 <div class="contributor-container">
     <h1 class="text-center text-white py-5">
<display-1>Welcome ...!</display-1>
</h1>
     <div class="col-sm">
       <!--TABLE-->
         <table class="table table-bordered table-hover text-center" id="table">
            <ul class="nav nav-pills nav-header-pills">
                 {{!--  <li class="btn btn-warning">
                    <a class="nav-link text-white" href="/api/new">Add New Item</a>
                  </li> --}}
                <button type="button" class="w-25 btn btn-primary btn-lg btn-block mx-auto mb-5" data-toggle="modal" data-target="#register">Add New Item</button>
                    <!--  MODALS     -->
                <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="register form" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="header bg-primary text-center text-white py-3" id="mHeader">
                                <h4 class="modal-title title-up" id="exampleModalLabel">Add New Item</h4>
                            </div>
                <div class="modal-body">
                    <!--regitstration form-->
                    <form action="/api/order" method="POST">
                      <input type="text" name="name">
                      <input type="text" name="quantity">
                      <input type="text" name="expiration">
                      <input type="text" name="status">
                      <input type="submit" id="btn" value="Submit">
                    </form>

                <li class="btn btn-dark">
                    <a class="nav-link  text-white" href="#">Edit</a>
                </li>
            </ul>
             <thead class="thead-dark text-white">
                 <tr>
                     <th scope="col">#</th>
                     <th scope="col">Food Item</th>
                     <th scope="col">Quantity</th>
                     <th scope="col">Expiration</th>
                     <th scope="col">Status</th>
                 </tr>
             </thead>
             <div class="col-xs-6 text-center" class="task">
            <div class="row">
              {{#each burger_data}}
                {{#unless this.devoured}}
                <div class="col-xs-9 text-center">
                    <pre>{{this.id}}. {{this.burger_name}}
                    </pre>
                        <!-- {{this.Date}} -->
                </div>
                <div class="col-xs-3 text-center">
                    <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                        <input input type="hidden" type="text" name="burger_id" value={{this.id}}><br>
                        <button type="submit" class="btn btn-default">Devour it!</button>
                    </form>
                </div>
                {{/unless}}
              {{/each}}
            </div>
        </div>
        <div class="col-xs-6 text-center" class="task">
              {{#each burger_data}}
                {{#if this.devoured}}
                    <input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
                {{/if}}
              {{/each}}
        </div>
             <tbody>
                {{!--  <tr>
                    
                     <th scope="row">{{this.id}}</th>
                      
                    {{#each orders}}
                        <td>{{this.name}}</td>. <td>{{this.quantity}}</td>. <td>{{this.expiration}}</td>.<td>{{this.status}}</td>
                    {{/each}}
                       
                        
                    
                   
                 </tr> --}}
                 <tr>
                     <th scope="row">Sample</th>
                     <td>Cookies</td>
                     <td>5 dozen</td>
                     <td>12-12-2017</td>
                     <td>Please enter "1" or "0"</td>
                 </tr>
{{!--                  <tr>
                     <th scope="row">Sample 2</th>
                     <td>Mashed Potatoes</td>
                     <td>18 gallons</td>
                     <td>5 days</td>
                 </tr> --}}
                    
             </tbody>
        </table>
    </div>
</div>
     <!--FOOTER-->
{{!-- <div id="chirp-area"></div> --}}